.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 1px 10px 1px var(--color-white);
    /* border-bottom: 15px ridge var(--color-white); */
    margin-bottom: 45px;
    max-height: 75px;
    & div:last-child {
        @media only screen and (min-width: 1150px) {
            display: none;
        }
    }
}

.title {
    // padding: 0 10rem;
    & h2 {
        padding-top: 0.7rem;
        font-size: 2rem;
        font-family: 'Smooch', cursive;
        padding: auto;
    }
}

.itens{
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    list-style: none;
    font-size: 30px;
    font-style: italic;
    align-items: center;
        @media only screen and (max-width: 1150px) {
            display: none;
        }
        & li {
            padding: 5px 20px;
            border-right: 2px dashed var(--color-white);
        }
        & li:first-child {
            padding: 5px 20px;
            border-left: 2px dashed var(--color-white);        
        }
        & li a {
            transition: 300ms;
        }
        & li a:hover {
            color: var(--color-animation);
            text-decoration: underline;
        }
        & a {
            text-decoration: none;
            font-weight: 400;
        }
}
